.quiz {
    height: 150px;
    width: 300px;
    background-color: rgba(63, 182, 12, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-radius: 25px;
}

body {
    display: flex;
    justify-content: center;
}

.quiz_two {
    display: none;
}

.quiz_three {
    display: none;
}

.li {
    list-style-type: none;
}

input {
    cursor: pointer;
}

.result {
    background-color: rgba(63, 182, 12, 0.5);
    height: 80px;
    width: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: ;
}

.butn {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.btnF {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}